.ctnPhotographer {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .avatar {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

    .ctnBio {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            font-size: 36px;
            color:#D3573C;
        }

        .position {
            color: $primaryColor;
            font-size: 13px;
            margin: 0;
            font-weight: 400;
        }
    }
}