body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    header {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 150px;
        .goToMain {
            visibility: hidden;
            display: block;
            width: 182px;
            line-height: 30px;
            position: absolute;
            left: calc(50% - 91px); //50% - width of element divided by 2
            top: 6px;
            padding: 0;
            background-color: $secondaryColor;
            color: black;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            nav ul {
                display: flex;
                justify-content: row;
                align-items: center;
                justify-content: space-around;

                li {
                    list-style: none;
                    margin: 0px 5px;
                }
            }

        }
        
    }
    main {
        .ctnPhotographers {
            position: absolute;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}