body {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 150px;
        justify-content: space-between;
        align-items: center;
            nav ul {
                display: flex;
                justify-content: row;
                align-items: center;
                justify-content: space-around;
                margin: 0;
                height: 100%;

                li {
                    list-style: none;
                    margin: 0px 5px;
                }
            }

        

    }

    main {
        width: 100%;

        .ctnPhotographers {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 60px;

            h3 {
                margin-bottom: 0;
            }

            .localisation {
                color: $primaryColor;
                font-size: 13px;
            }

            .tagline {
                font-size: 10px;
                margin: 0;
            }

            .price {
                font-size: 9px;
                color: #757575;
            }

            
        }
    }
}